@import "tailwindcss";

/* If you added the custom theme I mentioned earlier, it should look like this */
@theme {
  --color-workshop-red: #D93D31;
  --color-workshop-dark: #0D0D0D;
}

:root {
  font-family: 'Inter', sans-serif;
}